body {
  font-family: "Roboto", "Raleway", "Verdana", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
p {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
}

.page-nav .link {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.page-nav .link:hover {
  color: #404bbf;
}

.page-adress .link {
  color: #434455;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.page-adress .link:hover,
.page-adress .link:focus {
  color: #404bbf;
}

.basic {
  background-color: #2e2f42;
}
.button-service {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border: none;
  text-shadow: 0px 4px 4px #00000026;
}
.button-service:hover {
  background-color: #404bbf;
  font-weight: 600;
  line-height: 1.5;
  text-shadow: 0px 4px 4px #00000026;
}

.team {
  background-color: #f4f4fd;
  text-align: center;
}
.portfolio {
  background-color: #e7e9fc;
}
.site-footer {
  background-color: #2e2f42;
}
.site-footer > p {
  color: #f4f4fd;
}
.text-mix {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.16;
  font-size: 18px;
}
.part1 {
  color: #4d5ae5;
}
.part2 {
  color: #f4f4fd;
}
.text-mix > a {
  text-decoration: none;
}
