body {
  font-family: "Roboto", "Raleway", "Verdana", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
   
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 max-width: 1440px;
}
ul {
  list-style: none;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
p {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.page-nav .link {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.page-nav .link:hover {
  color: #404bbf;
}

.page-adress .link {
  color: #434455;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.page-adress .link:hover,
.page-adress .link:focus {
  color: #404bbf;
}

.page-header {
  margin: 0 auto;
  border: 1px solid #e7e9fc;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}

.page-header .container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.container .text-mix {
  margin-left: 156px;
}
.container .page-nav {
  display: flex;
  gap: 40px;
  padding-left: 76px;
}
.container .page-adress {
  display: flex;
  gap: 40px;
  padding-left: 332px;
}

main {
  flex-grow: 1;
}

.basic {
  padding-top: 120px;
  background-color: #2e2f42;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}
.button-service {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border: none;
  text-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
}
.button-service:hover {
  background-color: #404bbf;
  font-weight: 600;
  line-height: 1.5;
  text-shadow: 0px 4px 4px #00000026;
}

.section1 .strategy {
  display: flex;
  margin: 156px;
  margin-left: 156px;
  margin-right: 110px;
  padding: 0;
  gap: 8px;
}
.strategy .list {
  display: block;
}

.team > h2 {
  padding-top: 120px;
}

.team {
  background-color: #f4f4fd;
  text-align: center;
  margin: 0 auto;
}

.team .command {
  display: flex;
  gap: 32px;

  margin: 0 156px;
  margin-right: 110px;
  padding-top: 32px;
  padding-bottom: 120px;
  padding-left: 4px;
  padding-right: 4px;
 
}

.command .name {
  overflow: hidden;
  width: 264px;
  height: 380px;

  border-radius: 4px;
  box-shadow: 0px 2px 1px #2e2f42;
  box-shadow: 0px 1px 1px #2e2f42;
  box-shadow: 0px 1px 6px #2e2f42;
}

.portfolio {
  background-color: #e7e9fc;

}

.section3 {
  padding-top: 156px;
  margin: 0 auto;
}
.section3 .ourportfilio {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 156px;
  padding-right: 100px;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 120px;
  padding-top: 32px;
}
.ourportfilio .item {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  overflow: hidden;
  width: calc((100% - 32px) / 3);
  padding: 0 auto;
}

.site-footer {
  background-color: #2e2f42;
  padding: 95px 156px;
  margin: 0;
}
.site-footer > p {
  color: #f4f4fd;
}

.text-mix {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.16;
  font-size: 18px;
  text-decoration: none;
}
.part1 {
  color: #4d5ae5;
}
.part2 {
  color: #f4f4fd;
}
